

#login-attempts-form label {
    width: 300px;
    display: inline-block;
}

#login-attempts-form .field-wrap div:not(:first-child) {
    margin-top: 20px;
}

.switch {
    position: relative;
    display: inline-block !important;
    width: 40px !important;
    height: 22px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .toggle-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;

  }

  #data-to-toggle {
    display: block;
  }

  #file_mod input[type=checkbox] {
    margin-top: 2px;
  }

  #file_mod .form-check:not(:last-child){
    margin-bottom: 10px;
  }

  .redirect_url_inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
  }

  #redirect_url label{
    font-size: 24px;
    color: black;
    font-weight: 500;
  }

  .login-attempts-url {
    margin-top: 50px;
  }

  /* #redirect_url {
    display: none;
  } */